@import "../variables.json";

$border: $grey-lighter;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

$desktop: $desktop-minus-gap + (2 * $gap);
$widescreen: $widescreen-minus-gap + (2 * $gap);
$fullhd: $fullhd-minus-gap + (2 * $gap);